{% extends 'base.html' %}

{% block title %} Merge MP3 {% endblock %}

{% block styles %} 
<style>
    /* Set width for a specific column */
    .table td:nth-child(1), .table th:nth-child(1) {
        width: 100px; /* First column width */
    }
    td {
        vertical-align: middle;
    }
</style>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Merge MP3 Files</h3>
            </div>
            <div class="card-body">
                <form id="mp3-form" enctype="multipart/form-data">
                    {%csrf_token%}

                    <table class="table" id="tableFile">
                        <thead>
                          <tr>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="text-center">#</td>
                            <td>
                                <div class="row g-3 align-items-center">
                                    <div class="col-auto">
                                        <label for="file1" class="col-form-label">File 1</label>
                                    </div>
                                    <div class="col-auto">
                                        <input type="file" id="file1" class="form-control" name="files">
                                    </div>
                                </div>
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                    <button type="button" class="add-file btn btn-secondary btn-sm mb-3">+ Add File</button>
                                </td>
                            </tr>
                        </tfoot>                        
                      </table>

                    <button type="submit" class="btn btn-primary">Merge and Download</button>
                </form>
                <div id="message" class="mt-3"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
            let fileCount = 1;

            // Add new file input
            $('.add-file').click(function () {
                fileCount++;

                const tr = `
                    <tr>
                        <td>
                            <button type="button" class="d-inline btn btn-danger btn-sm remove-file">Remove</button>
                        </td>
                        <td>
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <label for="file${fileCount}" class="col-form-label">File ${fileCount}</label>
                                </div>
                                <div class="col-auto">
                                    <input type="file" id="file${fileCount}" class="form-control" name="files">
                                </div>
                            </div>
                        </td>
                    </tr>`

                $('#tableFile>tbody').append(tr);
            });

            // Remove a file input
            $(document).on('click', '.remove-file', function () {
                $(this).closest('tr').remove();
            });

            // Submit the form via AJAX
            $('#mp3-form').submit(function (e) {
                e.preventDefault();
                const formData = new FormData(this);

                $.ajax({
                    url: '/merger/merge-mp3/',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        downloadFile(response.download_link, response.filename)

                        $('#message').html('<div class="alert alert-success">Download started successfully!</div>');
                    },
                    error: function () {
                        $('#message').html('<div class="alert alert-danger">An error occurred while merging files.</div>');
                    }
                });
            });
        });
</script>
{% endblock %}
